footer.footer
	.container
			.row
				.full
					|Copyright 2018 @
					=" "
					a(href="https://avonworldrussia.ru/" target="_blank")
						|avonworldrussia.ru
					br
					span.develop
						|Design and Development:
						=" "
						a(href="https://demiart.ru/forum/index.php?showuser=1393929" target="_blank")
							|ProjectSoft