footer.footer
	.container
			.row
				.full
					|Copyright 
					=" "
					a(href="https://avonworldrussia.ru/" target="_blank")
						|avonworldrussia.ru
					=" "
					|@
					=" "
					span.dateyear
						|2018
					br
					span.develop
						|Design and Development:
						=" "
						a(href="https://demiart.ru/forum/index.php?showuser=1393929" target="_blank")
							|ProjectSoft