footer.footer
	.container
			.row
				.full
					|Copyright 
					=" "
					a.goto(href="https://avonworldrussia.ru/" target="_blank" tabindex="-1")
						|avonworldrussia.ru
					=" "
					|&copy;
					=" "
					span.dateyear
						|2018
					br
					span.develop
						|Design and Development:
						=" "
						a.goto(href="https://demiart.ru/forum/index.php?showuser=1393929" target="_blank" tabindex="-1")
							|ProjectSoft