head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(content="width=device-width, initial-scale=1" name="viewport")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	title(data-i18n="PAGE_TITLE") Генератор розыгрыша лотереи
	link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
	meta(itemprop="title" name="title" content="Генератор розыгрыша лотереи")
	meta(itemprop="description" name="description" content="Генератор розыгрыша лотереи")
	meta(itemprop="keywords" name="keywords" content="")
	meta(itemprop="image" name="image" content="https://avon-world.github.io/raffle/assets/images/ogimage_537x240.jpg")
	meta(name="robots" content="index, follow")
	meta(property="og:title" content="Генератор розыгрыша лотереи")
	meta(property="og:description" content="Генератор розыгрыша лотереи")
	meta(property="og:url" content="")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:site_name" content="РОЗЫГРЫШ ЛОТЕРЕИ")
	meta(property="og:image" content="https://avon-world.github.io/raffle/assets/images/ogimage_537x240.jpg")
	meta(property="og:image:width" content="537")
	meta(property="og:image:height" content="240")
	meta(property="og:image:type" content="image/jpeg")
	meta(property="og:image" content="https://avon-world.github.io/raffle/assets/images/ogimage_400x400.jpg")
	meta(property="og:image:width" content="400")
	meta(property="og:image:height" content="400")
	meta(property="og:image:type" content="image/jpeg")
	style
		="\n"
		include ../../../docs/assets/css/main.css