head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(content="width=device-width, initial-scale=1" name="viewport")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	title Генератор розыгрыша лотереи
	link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
	meta(name="title" content="Генератор розыгрыша лотереи")
	meta(name="description" content="Генератор розыгрыша лотереи")
	meta(name="keywords" content="")
	meta(name="image" content="assets/images/notify.png")
	meta(name="robots" content="index, follow")
	meta(property="og:title" content="Генератор розыгрыша лотереи")
	meta(property="og:description" content="Генератор розыгрыша лотереи")
	meta(property="og:url" content="")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:site_name" content="AVON")
	meta(property="og:image" content="assets/images/notify.png")
	style
		="\n"
		include ../../../docs/assets/css/main.css