head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(content="width=device-width, initial-scale=1" name="viewport")
	title(data-i18n="PAGE_TITLE") Генератор розыгрыша лотереи
	link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
	style
		="\n"
		include ../../../docs/assets/css/main.css
		include ../../../docs/assets/css/appcss.css
		