header.header
	.row
		.container
			.row
				.full
					a.header-link.text-uppercase(href="" data-i18n="H1_TITLE" tabindex="-1")
						|&nbsp;
					.pul
						ul#langs
							li
								a(href="javascript:;" data-lang="ru-ru" tabindex="-1")
									|RU
							li
								a(href="javascript:;" data-lang="en-us" tabindex="-1")
									|EN
						span.help
							a(href="javascript:;" tabindex="-1" title="<dl><dt>Ctrl+Alt+A</dt><dd>Add new prize</dd></dl><dl><dt>Ctrl+Alt+Up</dt><dd>Add number</dd></dl><dl><dt>Ctrl+Alt+Down</dt><dd>Remove number</dd></dl>" )
								|?
						span.git
							a.goto(href="https://github.com/avon-world/raffle" target="_blank")
								