header.header
	.row
		.container
			.row
				.full
					a.header-link.text-uppercase(href="" data-i18n="H1_TITLE" tabindex="-1")
						|&nbsp;
					.pul
						ul#langs
							li
								a(href="javascript:;" data-lang="ru-ru" tabindex="-1")
									|RU
							li
								a(href="javascript:;" data-lang="en-us" tabindex="-1")
									|EN
						span.git
							a(href="https://github.com/avon-world/raffle" target="_blank")
								