main.main
	.container
		.full.main-wrapper(data-plugin="forestedglass" data-target="main.main" data-blur="15")
			h1.page-title.text-center
				|Розыгрыш лотереи
			#lotereya
				.row
					.columns
						.columns-settings
							label.columns-settings-label.columns-settings-label-number
								strong
									|Количество разыгрываемых номеров
								.inputnumber
									.inputnumber-spin.up
										|+
									.inputnumber-spin.down
										|−
									input#sizenum(type="number" min="1" max="100" value="1")
							
					.columns-loto
						.loto
							#loto
							.loto-raffle
								button.btn.rf-raffle#btnraffle(title="Розыграть")
					.columns-settings-label.print-hidden
						h2.text-center.block-center
							|Разыгрываемые призы
						
						include artictemplate
						.columns-settings-label-prizes
							- var n = 1;
							ul#prizes
							
							//-
								while n < 51
									- var t = n++
									li.prize(data-number= t)
										span.bg
										span.text
											|Name prize 
											= t
											=";"
						.columns-settings-label-buttons
							button.btn.rf-add#btnadd(title="Добавить приз")
							button.btn.rf-clear#btnclear(title="Очистить")
					.columns.resultraffle
						h2.text-center.block-center.full.date
							|Результат розыгрыша лотереи
						.columns-result.full
							ul#result