desktop.*
**/.*
bin/**/*
cache/**/*
docs/**/*
node_modules/**/*
bower_components/**/*
test/**/*
tests/**/*
src/bin/*.*
src/debug.install.iss
installer/**/*
package-lock.json
!**/.gitignore
!src/bin/*.svg
!src/bin/*.zip
!src/bin/*.psd

