.header {
	padding: 15px;
	background-color: #ff38a0;
	&-link {
		color: #fff;
		&,
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	.full {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.pul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		span {
			&.git {
				display: block;
				margin-left: 10px;
				> a {
					&:before {
						display: block;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						overflow: hidden;
						background-color: #fff;
						content: " ";
						background-image: url('assets/images/git.svg');
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: contain;
					}
				}
			}
			&.help {
				display: block;
				margin-left: 20px;
				> a {
					display: flex;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					overflow: hidden;
					background-color: #000;
					color: #fff;
					justify-content: center;
					align-items: center;
					font-weight: bold;
					transition: all .4s ease;
					&, &:hover, &:focus {
						text-decoration: none;
					}
					&:hover, &[aria-describedby] {
						background-color: #fff;
						color: #000;
					}
				}
				.tooltip {
					&-inner {
						max-width: 320px;
						dl {
							font-size: 14px;
							text-align: left;
							display: flex;
							flex-wrap: nowrap;
							margin: 0px;
							dt {
								margin: 0;
								padding: 0;
								font-weight: bold;
								width: 125px;
								text-align: right;
							}
							dd {
								margin: 0;
								padding: 0;
								padding-left: 5px;
							}
						}
					}
				}
			}

		}
	}
	#langs {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-right: -10px;
		> li {
			list-style: none;
			padding-left: 10px;
			padding-right: 10px;
			> a {
				color: #000;
				&,
				&:hover {
					text-decoration: none;
				}
				&,
				&:focus {
					outline-color: unset;
					outline-style: unset;
					outline-width: 0;
				}
				&.active,
				&:hover {
					color: #fff;
				}
			}
		}
	}
}